/* Basic styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Definición de los colores más utilizados */

:root {
    --color-principal: #d26e65;
    --color-secundario: #005461;
    --color-fondo: #eaebed;
    --color-texto: #262e2d;
}


/* Ajustes GLOBALES para todo el site */

html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
    position: relative;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    /* Google Fonts */
    color: var(--color-texto);
    font-size: 1.6rem;
    background-image: linear-gradient(to top, #005461, #4d7686, #849baa, #b8c2cc, #eaebed);
    /* Gradiente de colores para el background generado con mycolor.space */
}

h1,
h2,
h3 {
    margin: 0;
}

h2,
h3 {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    font-weight: bold;
}

h3 {
    color: var(--color-secundario);
}

p {
    font-size: 1.8rem;
    line-height: 2;
}

a {
    color: var(--color-principal);
    text-decoration: none;
}

.boton-color1 {
    background-color: var(--color-principal);
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.8rem;
    border-radius: .5rem;
    border: 0.2rem solid var(--color-principal);
}

.boton-color1:hover {
    background-color: var(--color-fondo);
    color: var(--color-principal);
}

.boton-color2 {
    background-color: var(--color-secundario);
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.8rem;
    border-radius: .5rem;
    border: 0.2rem solid var(--color-secundario);
}

.boton-color2:hover {
    background-color: var(--color-fondo);
    color: var(--color-secundario);
}

.boton-rrss {
    background-color: var(--color-secundario);
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 4rem;
    border-radius: .5rem;
    border: 0.2rem solid var(--color-secundario);
}

.boton-rrss:hover {
    background-color: var(--color-fondo);
    color: var(--color-secundario);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-fondo);
}


/* Barra de navegación principal */

.menu-principal {
    background-color: var(--color-principal);
}

.logo {
    padding: 2rem;
    background-color: var(--color-secundario);
}

.logo img {
    height: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-principal nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .menu-principal nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

.menu-principal a {
    color: var(--color-texto);
    font-size: 2rem;
    margin: 0.7rem;
}

@media (min-width: 768px) {
    .menu-principal a {
        margin: 0;
    }
}

.menu-principal a:last-of-type {
    margin-bottom: 0;
}

.menu-principal a:hover {
    color: var(--color-fondo);
}

.activa {
    color: var(--color-fondo)!important;
}

.site-footer {
    background-color: var(--color-principal);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main {
    margin-bottom: 4rem;
}

.site-footer a {
    text-decoration: none;
    color: var(--color-texto);
}

.logo-footer {
    padding: 1rem;
    background-color: var(--color-secundario);
}

.logo-footer img {
    height: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-footer p {
    text-align: center;
    color: var(--color-fondo);
    font-size: 1rem;
    margin-top: 0.1rem;
}


/* Home */

.hero {
    height: 55rem;
    display: flex;
    justify-content: center;
    /* Centrar elementos horizontalmente en el .hero */
    align-items: center;
    /* Centrar elementos verticalmente en el .hero */
}

.contenedor-hero {
    text-align: center;
}

@media (min-width: 768px) {
    .descarga {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


/* Para colocar el texto encima de la imágen del hero */

.img-centrada {
    max-width: 100%;
    max-height: 25rem;
    margin: 2rem 0;
}

@media (min-width: 768px) {
    .img-centrada {
        max-width: 100%;
        max-height: 30rem;
        margin: 2rem 0;
    }
}

.contenedor {
    padding: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 10rem;
}

@media (min-width: 768px) {
    .contenedor-servicios {
        display: flex;
        justify-content: space-between;
    }
    .servicio {
        flex: 1 1 0;
    }
}

.servicio {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio p {
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
}

.iconos {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-principal);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--color-texto);
}


/*Medida de la redonda */


/* PÁGINA EQUIPO */

.secundaria {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.2rem;
}

.contenedor-secundaria {
    text-align: center;
    margin: 0 1rem;
}

@media (min-width: 768px) {
    .contenedor-secundaria {
        margin-top: 3rem;
    }
}

.contenedor-secundaria p {
    margin: 0 2rem;
}

.lista-equipo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

@media (min-width: 768px) {
    .lista-equipo {
        grid-template-columns: repeat(3, 1fr);
    }
}

.equipo {
    background-color: var(--color-fondo);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Para poner color distinto al fondo de las imágenes */

.equipo img {
    max-width: 100%;
}


/* Para hacer las imágenes responsive */

.contenido-equipo p {
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
    ;
}

.nombre-equipo {
    text-align: center;
}


/* PÁGINA EQUIPO DETALLE */

.equipo-detalle {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
}

@media (min-width: 768px) {
    .equipo-detalle {
        grid-template-columns: repeat(2, 1fr);
    }
}

.equipo-detalle img {
    max-width: 25rem;
}

.imagen-equipo {
    display: grid;
    align-items: center;
    justify-items: center;
}


/* PÁGINA FAQS */

.faqs h2 {
    text-align: left;
    margin: 2rem 0 1rem 0;
}